<div class="text-end m-3">
    <a class="btn btn-success" role="button" (click)="AddOffer()">Add Offer</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Discount Percentage</th>
            <th>Display Products</th>
            <th>Add Products</th>
            <th>Update Offer</th>
            <th>Delete Offer</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-dark" *ngFor="let off of offer | paginate: { itemsPerPage: 6, currentPage: Page ,totalItems: PageNum }">
 
            <td>{{off.start_Date}}</td>
            <td>{{off.end_Date}}</td>
            <td>{{off.discount_Percentage}} %</td>
            <th><button class="btn btn-primary"> Display Products</button></th>
            <th><button class="btn btn-success"> Add Products</button></th>
            <th><button class="btn btn-warning"> Update Offer</button></th>
            <th><button class="btn btn-danger" (click)=deleteoffer(off.id)> Delete Offer</button></th>
            
        </tr>
    </tbody>
</table>

<pagination-controls class="text-center my-pagination" (pageChange)="Page = $event"></pagination-controls>

