.checked {
    color: orange;
}

.row{margin: 20px;}

.owl-item{
     margin: 25px;}

.filter:hover{
    color: red !important;
    cursor: pointer;
}.empty {
    margin-top: 0;
    width: 30%;
    margin-left: 33%;
}
.btno{
    width: 10%;
    margin-left: 45%;
}