<!-- <div style="width: 90vw; height: 70vh;background-color: rgb(194, 177, 156); border-radius: 20px;" class="m-5">
    <form (ngSubmit)="Addoffer()" style="width: 90vw; height: 50vh;" class="p-5">
    
        <div class="mb-3">
          <label for="Startdate" class="form-label font-weight-bold" >Start Date</label>
          <input type="date" class="form-control" id="Startdate" required [(ngModel)]="offer.start_Date">
        </div>
        <div class="mb-3">
          <label for="Enddate" class="form-label font-weight-bold">End Date</label>
          <input type="date" class="form-control" id="Enddate" required [(ngModel)]="offer.end_Date">
        </div>
        <div class="mb-3">
            <label for="DiscountPercent" class="form-label font-weight-bold">Discount Percentage</label>
            <input type="number" required [(ngModel)]="offer.discount_Percentage" placeholder="Please Enter The Discount Persentage Here Like that (0.3) for 3%..." class="form-control" id="DiscountPercent">
          </div>
        <button type="submit" class="btn btn-primary float-end">Add Offer</button>
      </form>
</div>
 -->
