
.promo-area {
    background: #fbfbfb;
    color: #fff;
    padding: 40px 0 40px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.promo-area {
    background:#fbfbfb;
    color: #fff;
    padding: 40px 0 40px;
  }
  
  .brands-area {
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    color: #fff;
    padding: 20px 0 20px;
  }
  
  .promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #f4f4f4}
  .single-promo {
      font-size: 25px;
      font-weight: 200;
      padding: 20px 10px;
      text-align: center;
  }
  .single-promo i {
    font-size: 50px;
  }
  
.single-promo:hover {color: #fff;background: #222;}
.promo1 { background:#5a88ca;}
.promo2 { background:#ffd900;}
.promo3 { background:#fa8072;}
.promo4 { background:#4abebd;}
.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}
.subj{
    font-weight: bold;
    color: white;
    font-size: 1.5vw;
}

.checked {
    color: orange;
}